/*
  styles for the page of contact, specifically.
*/

#pageContact {
  margin:0 auto;
  width:960px;
  border-left:1px solid #eee;
  border-right:1px solid #eee;
  background:#f1f3f5;
}
.container {
  padding:30px 0;
}
.container h1, .container h2 {
  margin:0px auto 12px;
  text-align:center;
  color:#28abef;
}
.container h1 {
  font-size:30px;
}
.container h2 {
  font-size:18px;
  font-weight:normal;
}

.btn {
  display:block;
  margin:20px auto 0;
  width:200px;
  height:52px;
  font-size:16px;
  text-align:center;
  line-height:52px;
  color:#fff;
  background:url(../images/button.png) no-repeat;
}
.pic {
  display:block;
  margin:10px auto 0;
  border:1px solid #e5e5e5;
  border-radius:4px;
  padding:12px;
}
